body {
    max-width: 1520px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

#nav_bar {
    width: 100%;
    background-color: #A6B1E1;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

#nav_left {
    padding: 5px;
}

#nav_right {
    width: 50%;
    display: flex;
    font-size: 17px;
    align-items: center;
    text-align: center;
}

#nav_right div {
    width: 25%;
    margin: 1% 1.6%;
}

#this_page {
    text-decoration: underline;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: #F4EEFF;
}

#home_page {
    background-color: #F4EEFF;
}

#hp_content {
    overflow: hidden;
}

#hp_background {
    background-image: url(../image/home_bg.png);
    width: 100%;
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 10%;
}

#intro {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #424874;
}

#YM {
    font-size: 50px;
}

#SE {
    font-size: 40px;
}

#hp_footer {
    display: flex;
    background-color: #A6B1E1;
}

.hpft_content {
    margin: 20px 10%;
    color: white;
    text-align: center;
    width: 33.33%;
    background-color: #424874;
    padding: 10px;
}

.hpft_content h1 {
    font-size: 50px;
    margin: 0px;
}

.hpft_content p {
    font-size: 19px;
    margin: 0px;
}

#footer {
    background-color: #424874;
    padding: 2%;
}

#footer h1 {
    color: #F4EEFF;
    margin: 0;
    margin-bottom: 2%;
}

.container {
    display: flex;
}

.icon {
    padding: 15px;
}

.text {
    font-size: small;
    margin-left: 10px;
}

.text a {
    text-decoration: none;
    color: #F4EEFF;
    align-items: center;
}

.text a:hover {
    text-decoration: underline;
    color: #DCD6F7;
}

#icon_sm {
    display: flex;
    margin-top: 5px;
}

#icon_sm div {
    width: 140px;
    text-align: center;
}

#icon_sm a:hover {
    color: #F4EEFF;
}

#footer p {
    margin-top: 25px;
    color: #F4EEFF;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    #hp_footer {
        flex-wrap: wrap;
    }

    .hpft_content {
        width: 100%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media screen and (max-width: 800px) {
    #nav_bar {
        flex-direction: column;
    }

    #nav_left {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    #nav_right {
        width: 100%;
    }

    #YM {
        font-size: 42px;
    }

    #SE {
        font-size: 32px;
    }

    #hp_footer {
        text-align: center;
        flex-wrap: wrap;
    }

    #footer h1 {
        margin-top: 2%;
        font-size: 26px;
    }

    #footer h2 {
        font-size: 16px;
    }

    .text {
        margin-top: 10px;
    }

    #text_email {
        margin-top: 5px;
    }

    #footer p {
        font-size: 10px;
        text-align: center;
    }
}