body {
    max-width: 1520px;
    margin: auto;
    font-family: 'Inter', sans-serif;
}

#nav_bar {
    width: 100%;
    background-color: #A6B1E1;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
}

#nav_left {
    padding: 5px;
}

#nav_right {
    width: 50%;
    display: flex;
    font-size: 17px;
    align-items: center;
    text-align: center;
}

#nav_right div {
    width: 25%;
    margin: 1% 1.6%;
}

#this_page {
    text-decoration: underline;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: #F4EEFF;
}

#my_work {
    background-color: #F4EEFF;
    padding-bottom: 30px;
}

#my_work h1 {
    margin: 0px;
    padding: 3%;
    text-align: center;
    font-size: 55px;
}

#mw_content {
    background-color: #DCD6F7;
    padding: 2%;
}

#slide_bar {
    background-color: #424874;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 1.5%;
    display: flex;
}

#slide_bar div {
    width: 33.33%;
}

#slide_1 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#slide_2 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#slide_3 {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

#service_content {
    display: flex;
}

#service_content h2 {
    font-size: 35px;
    width: 100%;
    color: #F4EEFF;
    margin: 0;
    margin-bottom: 25px;
}

#service_content p {
    width: 100%;
    color: #F4EEFF;
    font-size: 25px;
    margin: 0;
}

.sc {
    margin-left: 2%;
    margin-right: 2%;
    background-color: #DCD6F7;
    width: 33.33%;
    text-align: center;
    padding: 1%;
}

.sc img {
    padding: 15px;
}

.sc div {
    background-color: #424874;
    margin-left: 2%;
    margin-top: 5%;
    margin-right: 2%;
    padding: 10%;
}

#footer {
    background-color: #424874;
    padding: 2%;
}

#footer h1 {
    color: #F4EEFF;
    margin: 0;
    margin-bottom: 2%;
}

.container {
    display: flex;
}

.icon {
    padding: 15px;
}

.text {
    font-size: small;
    margin-left: 10px;
}

.text a {
    text-decoration: none;
    color: #F4EEFF;
    align-items: center;
}

.text a:hover {
    text-decoration: underline;
    color: #DCD6F7;
}

#icon_sm {
    display: flex;
    margin-top: 5px;
}

#icon_sm div {
    width: 140px;
    text-align: center;
}

#icon_sm a:hover {
    color: #F4EEFF;
}

@media screen and (max-width: 1130px) {
    #service_content h2 {
        font-size: 30px;
    }

    #service_content p {
        font-size: 20px;
    }
}

@media screen and (max-width: 960px) {
    #service_content h2 {
        font-size: 27px;
    }

    #service_content p {
        font-size: 17px;
    }
}

@media screen and (max-width: 865px) {
    #service_content h2 {
        font-size: 25px;
    }

    #service_content p {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    #nav_bar {
        flex-direction: column;
    }

    #nav_left {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    #nav_right {
        width: 100%;
    }

    #my_work h1 {
        font-size: 40px;
    }

    #service_content h2 {
        font-size: 25px;
    }

    #service_content p {
        font-size: 15px;
    }

    #service_content {
        flex-wrap: wrap;
    }

    .sc {
        width: 100%;
        margin: 2%;
        padding: 3%;
    }
}